unpackaged/main/default/flows/Contact_Marketplace_Pro_After_Save_Lead_Convert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Convert the lead</description>
        <name>Convert_the_Lead</name>
        <label>Convert the Lead</label>
        <locationX>1344</locationX>
        <locationY>1782</locationY>
        <actionName>LeadConvert</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Interviews</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>Get_Related_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>A lead with a matching external ID was found but is already converted. Is this a duplicate contact? Log</description>
        <name>Lead_Found_but_Is_Converted_Duplicate_Contact</name>
        <label>Lead Found but Is Converted(Duplicate Contact)</label>
        <locationX>1421</locationX>
        <locationY>271</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Related_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact Marketplace Pro After Save Lead Convert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$Record.Id} matched a lead but it is already converted </stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>A lead with a matching external ID was found but is already converted. Is this a duplicate contact? Log</description>
        <name>Lead_Found_but_Is_Converted_Duplicate_Contact_0</name>
        <label>Lead Found but Is Converted(Duplicate Contact)</label>
        <locationX>1246</locationX>
        <locationY>857</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact Marketplace Pro After Save Lead Convert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$Record.Id} did not match any lead record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>A lead with a matching external ID was found but is already converted. Is this a duplicate contact? Log</description>
        <name>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0</name>
        <label>Lead Found but Is Converted(Duplicate Contact)</label>
        <locationX>1484</locationX>
        <locationY>576</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact Marketplace Pro After Save Lead Convert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!$Record.Id} default decision no action taken</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>A lead with a matching external ID was found but is already converted. Is this a duplicate contact? Log</description>
        <name>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</name>
        <label>Lead Found but Is Converted(Duplicate Contact)</label>
        <locationX>500</locationX>
        <locationY>1233</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Related_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>Contact Marketplace Pro After Save Lead Convert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Flow Failed At {!$Flow.CurrentStage} </stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Assign the company name to use the Yearly Account Placeholder format</description>
        <name>Assign_Company_Name</name>
        <label>Assign Company Name</label>
        <locationX>1027</locationX>
        <locationY>1290</locationY>
        <assignmentItems>
            <assignToReference>varCurrentQuarterYearAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaCurrentYearAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentQuarterYearAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentYearQuarterAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Related_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the company name to use the Yearly Account Placeholder format</description>
        <name>Assign_Company_Name_0</name>
        <label>Assign Company Name</label>
        <locationX>963</locationX>
        <locationY>681</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_User_Profile_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the company name to use the Yearly Account Placeholder format</description>
        <name>Assign_Company_Name_0_0</name>
        <label>Assign Company Name</label>
        <locationX>1101</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>varOwnerIdtoUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the company name to use the Yearly Account Placeholder format</description>
        <name>Assign_Company_Name_0_0_0</name>
        <label>Assign Company Name</label>
        <locationX>870</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>varCurrentYearQuarterAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Current_Quarter_and_Year_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Related_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is the contact related account set to the quarterly yearly account</description>
        <name>Contact_Related_Account</name>
        <label>Contact Related Account</label>
        <locationX>940</locationX>
        <locationY>1428</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Related_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Account_Do_Not_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varCurrentYearQuarterAccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Marketplace Professional Account -</stringValue>
                </rightValue>
            </conditions>
            <label>Contact Account Do Not Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was there an account found for the current year and quarter?</description>
        <name>Current_Quarter_and_Year_Account_Found_Yes_or_No</name>
        <label>Current Quarter and Year Account Found Yes or No</label>
        <locationX>1024</locationX>
        <locationY>1152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Quarter_and_Year_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Name</targetReference>
            </connector>
            <label>Current Quarter and Year Account Found</label>
        </rules>
        <rules>
            <name>Account_Not_Found_Record_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Current_Quarter_and_Year_Account</targetReference>
            </connector>
            <label>Account Not Found Record Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a matching lead found and is it not converted?</description>
        <name>Lead_Found_and_Is_the_Lead_Converted</name>
        <label>Lead Found and Is the Lead Converted</label>
        <locationX>1233</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_User_Profile_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owned_by_Queue_or_Inactive_User</targetReference>
            </connector>
            <label>Lead Found Not Converted</label>
        </rules>
        <rules>
            <name>Lead_Found_but_Is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_User_Profile_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact</targetReference>
            </connector>
            <label>Lead Found but Is Converted</label>
        </rules>
        <rules>
            <name>Lead_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0</targetReference>
            </connector>
            <label>Lead Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a matching lead found and is it not converted?</description>
        <name>Lead_Found_and_Is_the_Lead_Converted_0</name>
        <label>Lead Found and Is the Lead Converted</label>
        <locationX>940</locationX>
        <locationY>1702</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_Not_Converted_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Service_User_Profile_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>LeadFoundNotConverted</label>
        </rules>
        <rules>
            <name>Lead_Not_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NoLeadFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the lead is owned by a queue or inactive user and then change the owner to the Service Account since contacts can only be owned by a user.</description>
        <name>Owned_by_Queue_or_Inactive_User</name>
        <label>Owned by Queue or Inactive User</label>
        <locationX>945</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Assign_Company_Name_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Owner_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Name_0_0</targetReference>
            </connector>
            <label>Contact Owner Active</label>
        </rules>
    </decisions>
    <description>If a contact record is created or updated, and has an external professional ID, then the matching lead should be found and converted</description>
    <environments>Default</environments>
    <formulas>
        <description>Get the current Year and use it to create the account name</description>
        <name>formulaCurrentYearAccountName</name>
        <dataType>String</dataType>
        <expression>&quot;Marketplace Professional Account - Q&quot; &amp; TEXT(CEILING(MONTH(today())/3 )) &amp; &quot; - &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <description>Is the lead owned by a queue formula</description>
        <name>formulaQueueOwner</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!$Record.OwnerId}, &quot;00G&quot;)</expression>
    </formulas>
    <interviewLabel>Contact Marketplace Pro After Save Lead Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Marketplace Pro After Save Lead Convert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>If no current quarter and year account exists create one</description>
        <name>Create_Current_Quarter_and_Year_Account</name>
        <label>Create Current Quarter and Year Account</label>
        <locationX>876</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Assign_Company_Name_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formulaCurrentYearAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Account_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the account record type for Marketplace Professional</description>
        <name>Get_Account_Record_Type</name>
        <label>Get Account Record Type</label>
        <locationX>1033</locationX>
        <locationY>997</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Quarter_and_Year_Account_Found_Yes_or_No</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketplace Professional</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the ID of the current quarter and year marketplace pro account</description>
        <name>Get_Current_Quarter_and_Year_Marketplace_Pro_Account</name>
        <label>Get Current Quarter and Year Marketplace Pro Account</label>
        <locationX>1032</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaCurrentYearAccountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find a related lead with the same External Professional ID which is not converted</description>
        <name>Get_Related_Lead</name>
        <label>Get Related Lead</label>
        <locationX>1100</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_User_Profile_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Professional_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Professional_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the user id of the service account</description>
        <name>Get_Service_User_Profile_ID</name>
        <label>Get Service User ID</label>
        <locationX>1103</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Found_and_Is_the_Lead_Converted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If the contact account does not match the current quarter year account update the account</description>
        <name>Update_Contact_Related_Account</name>
        <label>Update Contact Related Account</label>
        <locationX>951</locationX>
        <locationY>1560</locationY>
        <connector>
            <targetReference>Lead_Found_and_Is_the_Lead_Converted_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varCurrentYearQuarterAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related interviews</description>
        <name>Update_Interviews</name>
        <label>Update Interviews</label>
        <locationX>1177</locationX>
        <locationY>1888</locationY>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Professional_Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Professional__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the related lead to have a status of qualified and update the owner to the owner of the contact(to avoid error with a lead owned by a queue)</description>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1348</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Convert_the_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_Found_but_Is_Converted_Duplicate_Contact_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>formulaCurrentYearAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwnerIdtoUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>968</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Get_Related_Lead</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Professional_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Lead_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Store the account name as Marketplace Professional Account - QX - CurrentYear</description>
        <name>varCurrentQuarterYearAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the ID for the related account</description>
        <name>varCurrentYearQuarterAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the owner id to update the record</description>
        <name>varOwnerIdtoUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
